<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1>Tengo <%= x %> años</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, incidunt delectus in quaerat at velit. Quia deserunt provident nisi labore facere voluptate fugiat dolorum, eligendi magni odit sint unde doloribus est maxime dolor adipisci inventore dolore. Corrupti, sit amet! Esse voluptas aut cupiditate ipsam odio sint cum adipisci voluptatibus, quidem illum sunt! Voluptas repellat quisquam atque expedita eaque, aspernatur nemo dolore officiis tenetur eum quia commodi dolor porro quod, hic ab iusto provident exercitationem libero dolorum cum! Amet temporibus deserunt nulla, voluptatem nobis error nam accusamus eum molestias architecto recusandae eligendi similique tempora nemo doloremque iure corporis. Delectus, accusamus similique ipsam quos, autem incidunt, voluptate nemo expedita amet possimus dolores voluptatem at iure dignissimos! Maiores nihil ab provident quidem illum ipsa, repellendus dolorem. Dolore, voluptas! Culpa, cumque voluptas quis sed debitis eius aliquam, eveniet minus dolores deleniti architecto nihil excepturi necessitatibus itaque quidem! Quos laboriosam perferendis officia, eos laborum veritatis sequi delectus aliquam eius suscipit ad libero accusamus asperiores vitae non, fugit id atque quas, quisquam veniam adipisci reprehenderit voluptatibus assumenda quasi. Alias ea quidem accusamus id, hic non dolor. Cumque deserunt temporibus autem nostrum odit, totam repudiandae quas, aliquam, sit ea veniam necessitatibus eaque non eos quos error earum voluptatum atque natus modi ex blanditiis voluptatem officia vero? Eveniet, odit laboriosam omnis tempore incidunt at distinctio libero minima, eaque perferendis itaque totam suscipit vel animi nostrum ab cum unde iusto ipsam sed! Adipisci, non eius sint necessitatibus saepe praesentium quia assumenda mollitia consequuntur! Aperiam quod iure quae architecto est deserunt dolorum possimus consequuntur reprehenderit quasi corporis esse explicabo laudantium sed eius commodi soluta dolore sapiente et modi fugit, tempora ab. Blanditiis voluptate eos iste? Nostrum voluptate voluptatum sed libero, aspernatur laudantium saepe praesentium? Accusamus distinctio a quos provident quae iusto, dolorem minima iste tempora tempore assumenda sapiente atque dolore.</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>